player-connection-mode=Listen
player-connection-guid=186038789
player-connection-debug=0
player-connection-project-name=DarkBros
player-connection-ip=192.168.68.57
player-connection-ip=192.168.56.1
player-connection-ip=192.168.137.1
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
build-guid=b29fa7eee5704f5791b1f5610246d452
