player-connection-mode=Listen
player-connection-guid=2188988110
player-connection-debug=0
player-connection-project-name=DarkBros
player-connection-ip=192.168.68.56
player-connection-ip=192.168.56.1
player-connection-ip=192.168.137.1
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
build-guid=d4470b8be37a4b25a6da2aa51e903ed2
